<div class="container mt-2">
	<ng-container *ngIf="isNotStarted">
		<h1>
			{{lesson.title}}
		</h1>
		<p class="lead">{{lesson.description}}</p>

		<hr>

		<p>{{ 'coursePlayerPlayQuizStartQuizNote' | translate }}</p>

		<button class="btn btn-primary" (click)="startQuiz()">
			{{ 'coursePlayerPlayQuizStartQuiz' | translate }}
		</button>
	</ng-container>

	<ng-container *ngIf="isStarted">
		<p class="lead">{{ currQuestion.title }}</p>

		<hr>

		<form class="mb-5" [formGroup]="currForm">
				<div class="form-check" *ngFor="let answer of currForm.controls.answers.controls; let i=index">
					<label class="form-check-label">
						<input 
							class="form-check-input" 
							type="checkbox"
							[formControl]="answer">
								{{ currQuestion.answers[i].title }}
					</label>
				</div>
		</form>

		<button class="btn btn-outline-secondary" (click)="prevQuestion()" *ngIf="hasPrevQuestion()">
			{{ 'coursePlayerPlayQuizPrevQuestion' | translate }}
		</button>

		<button class="btn btn-primary" (click)="nextQuestion()" *ngIf="!isLastQuestion()" [disabled]="!questionAnswered()">
			{{ 'coursePlayerPlayQuizNextQuestion' | translate }}
		</button>

		<button 
			class="btn btn-primary" 
			(click)="completeQuiz()" 
			*ngIf="isLastQuestion()" 
			[disabled]="!questionAnswered() || isSavingResults">
				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSavingResults"></i>
				{{ 'coursePlayerPlayQuizCompleteQuiz' | translate }}
		</button>
	</ng-container>

	<ng-container *ngIf="isCompleted">
		<div *ngFor="let question of lesson.questions">
			<p class="lead">{{ question.title }}</p>

			<ol>
				<li *ngFor="let answer of question.answers; let i=index">
					<span [class.text-success]="isCorrectAnswer(question, i)" [class.text-danger]="isWrongAnswer(question, i)">
						{{ answer.title }}
					</span>
					<i class="d-block" *ngIf="answer.explanation">
						{{ answer.explanation }}
					</i>
				</li>
			</ol>
		</div>

		<hr>

		<button class="btn btn-primary" (click)="startQuiz()">
			{{ 'coursePlayerPlayQuizReStartQuiz' | translate }}
		</button>
	</ng-container>
</div>