<form [formGroup]="editVideoForm" (ngSubmit)="onSubmitEditVideoForm()">
	<div class="form-group">
		<label class="custom-file">
			<input 
				type="file" 
				class="custom-file-input"
				(change)="onFileChange($event)" />
			<span class="custom-file-control"></span>
		</label>

		<input type="hidden" formControlName="file" />
	</div>
	<div class="form-group">
		<button 
			type="submit" 
			class="btn btn-primary btn-sm"
			[disabled]="!editVideoForm.valid || isUploading">
				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isUploading"></i>
				{{ 'Common_Save' | translate }}
		</button>

		<button
			type="button"
			class="btn btn-secondary btn-sm"
			(click)="turnOnNormalMode()">
				{{ 'Common_Cancel' | translate }}
		</button>
	</div>
</form>