<form>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsTitle' | translate }}
		</label>
		<input type="text" class="form-control">
		<small class="form-text text-muted">
			{{ 'webinarBasicsTitleHelpText' | translate }}
		</small>
	</div>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsSubtitle' | translate }}
		</label>
		<input type="text" class="form-control">
		<small class="form-text text-muted">
			{{ 'webinarBasicsSubtitleHelpText' | translate }}
		</small>
	</div>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsDescription' | translate }}
		</label>
		<div>
			<textarea class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">
				{{ 'Common_Save' | translate }}
			</button>
		</div>
	</div>
</form>