<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label>
			{{ 'webinarBasicsTitle' | translate }}
		</label>
		<input type="text" class="form-control" formControlName="title">
		<small class="form-text text-muted">
			{{ 'webinarBasicsTitleHelpText' | translate }}
		</small>
	</div>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsSubtitle' | translate }}
		</label>
		<input type="text" class="form-control" formControlName="subtitle">
		<small class="form-text text-muted">
			{{ 'webinarBasicsSubtitleHelpText' | translate }}
		</small>
	</div>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsDuration' | translate }}
		</label>
		<input type="number" class="form-control" formControlName="duration">
		<small class="form-text text-muted">
			{{ 'webinarBasicsDurationHelpText' | translate }}
		</small>
	</div>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsStartAt' | translate }}
		</label>
		<input type="date" class="form-control" formControlName="start_dt">
		<small class="form-text text-muted">
			{{ 'webinarBasicsStartAtHelpText' | translate }}
		</small>
	</div>
	<div class="form-group">
		<label>
			{{ 'webinarBasicsDescription' | translate }}
		</label>
		<div>
			<textarea class="form-control" formControlName="description"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary" [disabled]="isLoading">
				<i class="fa fa-spinner fa-spin fa-fw"  *ngIf="isLoading"></i>
				{{ 'Common_Save' | translate }}
			</button>
		</div>
	</div>
</form>