<div class="container-fluid">
	<div class="row">
		<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
			<img src="https://udemy-images.udemy.com/course/304x171/1263534_780a_4.jpg" class="img-fluid">

			<h6 class="mt-3 mb-3">Learning Path: Mastering Ember.js Application Development</h6>

			<ul class="list-group">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</nav>

		<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
			sjfi
		</main>
	</div>
</div>