<div class="jumbotron">
	<h1 class="display-4">{{ webinar.title }}</h1>
	<p class="lead">{{ webinar.subtitle }}</p>
</div>

<div class="container mb-5">
	<div class="row">
		<div class="col-8">
			<p class="lead">
				{{ webinar.description }}
			</p>
		</div>

		<div class="col-4">
			<div class="card" [ngClass]="{'border-warning': webinar.archived}">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" [ngClass]="{'text-muted': webinar.archived}">
						<i class="fa fa-calendar"></i>
						{{ webinar.start_dt | date:'MMMM d, H:mm, EEE' }}
					</li>
					<li class="list-group-item" [ngClass]="{'text-muted': webinar.archived}">
						<i class="fa fa-clock-o"></i>
						{{ webinar.duration | humanizeDuration }}
					</li>
				</ul>

				<div class="card-body" *ngIf="gettingEnrollmentStatus">
					<i class="fa fa-spinner fa-spin fa-fw"></i>
				</div>

				<div class="card-body" *ngIf="!gettingEnrollmentStatus">
					<button class="btn btn-secondary btn-block" *ngIf="!enrollmentStatus" (click)="enroll()">
						{{ 'webinarDetailsReserveASeat' | translate }}
					</button>

					<a [routerLink]="['/join-webinar', webinar.instructor_id, webinar.id]" class="btn btn-outline-primary btn-block" *ngIf="enrollmentStatus">
						{{ 'webinarDetailsGotoWebinar' | translate }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<uikit-conversation-thread></uikit-conversation-thread>
</div>