<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="footer__info">
					<a href="/" class="footer__logo">
						<img [src]="footerLogo" class="img-fluid" alt="">
					</a>
					<p>
						{{ 'footerDescription' | translate }}
					</p>
					<a href="mailto:{{ supportEmail }}" class="gtm-mailto-support">
						{{ supportEmail }}
					</a>
				</div>
			</div>
			<div class="col-12 col-sm footer__holder">
				<div class="row">
				</div>
			</div>
		</div>
	</div>
	<div class="footer__panel">
		<p>© <a href="https://tutr.education">tutr.education</a> 2017</p>
	</div>
</footer>