<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="footer__info">
					<a href="/" class="footer__logo">
						<img src="https://tichio.s3.amazonaws.com/logos/logo.png" class="img-fluid" alt="">
					</a>
					<p>Платформа для об'єднання менторів зі студентами</p>
					<a href="mailto:support@tich.io" class="gtm-mailto-support">support@tich.io</a>
				</div>
			</div>
			<div class="col-12 col-sm footer__holder">
				<div class="row">
				</div>
			</div>
		</div>
	</div>
	<div class="footer__panel">
		<p>© <a href="https://tutr.education">tutr.education</a> 2017</p>
	</div>
</footer>