<div class="jumbotron">
	<h1 class="display-4">
		{{ 'webinarsJumbotronHeader' | translate }}
	</h1>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a 
				class="nav-link"
				routerLinkActive="active"
				[routerLink]="['/webinars']"
				[routerLinkActiveOptions]="{exact: true}">
					{{ 'webinarsJumbotronNavItemUpcomingWebinars' | translate }}
				</a>
		</li>
		<li class="nav-item">
			<a 
				class="nav-link"
				routerLinkActive="active"
				routerLink="/webinars/archived"
				[routerLinkActiveOptions]="{exact: true}">
					{{ 'webinarsJumbotronNavItemArchived' | translate }}
				</a>
		</li>
	</ul>
</div>

<div class="container mt-5 mb-5">
	<uikit-webinar-card-grid [webinars]="webinars"></uikit-webinar-card-grid>
</div>