<div class="jumbotron">
	<div class="d-flex flex-row justify-content-between">
		<h1 class="display-4">
			Instructor Dashboard
		</h1>

		<div ngbDropdown class="d-inline-block">
			<button class="btn btn-light" ngbDropdownToggle>Create a new ...</button>
			<div ngbDropdownMenu style="width: auto;">
				<a class="dropdown-item" routerLink="/instructor/course/create">Course</a>
				<a class="dropdown-item" href="">Webinar</a>
			</div>
		</div>
	</div>

	<ul class="nav nav-pills">
		<li class="nav-item">
			<a 
				class="nav-link"
				routerLinkActive="active"
				[routerLink]="['/instructor', 'dashboard', 'courses']">Courses</a>
		</li>

		<li class="nav-item">
			<a 
				class="nav-link"
				routerLinkActive="active"
				[routerLink]="['/instructor', 'dashboard', 'webinars']">Webinars</a>
		</li>
	</ul>
</div>

<router-outlet></router-outlet>