<div class="container mt-5 mb-5">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<fieldset class="form-group">
			<div class="form-check">
				<label class="form-check-label">
					<input 
						class="form-check-input" 
						type="checkbox"
						[formControlName]="'profile_public'">
							{{ 'accountSettingsPrivacyShowProfileOnSearch' | translate }}
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input 
						class="form-check-input" 
						type="checkbox"
						[formControlName]="'courses_public'">
							{{ 'accountSettingsPrivacyShowCoursesImTaking' | translate }}
				</label>
			</div>
		</fieldset>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">
				{{ 'Common_Save' | translate }}
			</button>
		</div>
	</form>
</div>