<tutr-webinar-controls 
	*ngIf="cs.isJoined"
	(infoChanged)="infoChanged($event)"
	(onStop)="leave()">
</tutr-webinar-controls>

<div class="join-block" *ngIf="!cs.isJoined" >
	<button class="btn btn-secondary" (click)="join()" [disabled]="cs.isJoining">
		<i class="fa fa-spinner fa-spin fa-fw" *ngIf="cs.isJoining"></i>

		<ng-container *ngIf="!cs.isJoining">
			{{ 'webinarJoin' | translate }}
		</ng-container>

		<ng-container *ngIf="cs.isJoining">
			{{ 'webinarJoining' | translate }}
		</ng-container>

	</button>

	<p *ngIf="!cs.isJoining">
		{{ 'webinarAsInstructorJoinHelpText' | translate }}
	</p>

	<p *ngIf="cs.isJoining">
		{{ 'webinarAsInstructorJoiningHelpText' | translate }}
	</p>
</div>

<video #bigVideo autoplay="" muted=""></video>

<div class="webinar-room__footer" *ngIf="isInfoOpen">
	<p class="lead mb-0 pb-0">{{ webinar.title }}</p>
	<p>{{ webinar.subtitle }}</p>
</div>