<div class="jumbotron">
	<div class="d-flex w-100 justify-content-start">
		<img class="img-fluid mr-2" [src]="course.picture" [alt]="course.title">
		<div class="">
			<h1 class="display-4">{{ course.title }}</h1>
		</div>
	</div>
</div>
<div class="container mt-5 mb-5">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a
				class="nav-link"
				[routerLink]="['/courses', 'learn', course.instructor_id, course.id, course.slug, 'overview']" 
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
					{{ 'courseLearnNavItemOverview' | translate }}
			</a>
		</li>
		<li class="nav-item">
			<a
				class="nav-link"
				[routerLink]="['/courses', 'learn', course.instructor_id, course.id, course.slug, 'content']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
					{{ 'courseLearnNavItemContent' | translate }}		
			</a>
		</li>
		<!--<li class="nav-item dropdown" ngbDropdown>
			<a class="nav-link dropdown-toggle" href="javascript:void(0);" ngbDropdownToggle>
				{{ 'courseLearnNavItemMore' | translate }}
			</a>
			<div ngbDropdownMenu>
				<a class="dropdown-item" href="">
					{{ 'courseLearnNavItemMoreUnEnroll' | translate }}</a>
			</div>
		</li>
		-->
	</ul>

	<router-outlet></router-outlet>
</div>