<h4 class="text-center">
	{{ 'authenticationFlowConfirmEmail' | translate }}
</h4>

<div class="card mt-3">
	<div class="card-body">

		<div class="alert alert-danger" role="alert" *ngIf="showError">
			{{ 'authenticationFlowUserCodeCombinationNotFound' | translate }}
		</div>

		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label>
					{{ 'authenticationFlowEmail' | translate }}
				</label>
				<input 
					type="email" 
					class="form-control"
					[placeholder]="'authenticationFlowEmail' | translate"
					[formControlName]="'email'"
					autofocus>
			</div>
			<div class="form-group">
				<label>
					{{ 'authenticationFlowCode' | translate }}
				</label>
				<input 
					type="text" 
					class="form-control"
					[placeholder]="'authenticationFlowCode' | translate"
					[formControlName]="'code'"
					[class.is-invalid]="code.errors && code.errors.mismatch">
				<div class="invalid-feedback" *ngIf="code.errors && code.errors.mismatch">
					{{ 'authenticationFlowCodeMismatchException' | translate }}
				</div>
			</div>
			<div class="form-group">
				<button
					type="submit" 
					class="btn btn-primary"
					[disabled]="!form.valid || isLoading">
						<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isLoading"></i>
						{{ 'authenticationFlowButtonConfirm' | translate }}
				</button>
			</div>
		</form>

	</div>
</div>