<h4 class="text-center">
	{{ 'authenticationFlowForgottenPassword' | translate }}
</h4>

<div class="card mt-3">
	<div class="card-body">

		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label>
					{{ 'authenticationFlowEmail' | translate }}
				</label>
				<input 
					type="email" 
					class="form-control" 
					[placeholder]="'authenticationFlowEmail' | translate"
					[formControlName]="'email'"
					[class.is-invalid]="email.errors && email.errors.notFound">
				<div class="invalid-feedback" *ngIf="email.errors && email.errors.notFound">
					{{ 'authenticationFlowUserNotFoundException' | translate }}
				</div>
			</div>
			<div class="form-group">
				<button
					type="submit" 
					class="btn btn-primary"
					[disabled]="!form.valid || isLoading">
						<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isLoading"></i>
						{{ 'authenticationFlowButtonLogin' | translate }}
				</button>
			</div>
		</form>

	</div>
</div>

