<ul class="webinar-room__icons" tutrCursorAtRest>
	<li 
		class="icon" 
		title="Mute microphone"
		*ngIf="showAudioMute" 
		(click)="toggleAudioMute()" 
		[class.text-danger]="isAudioMuted">
		<i 
			class="fa" 
			[class.fa-microphone]="!isAudioMuted" 
			[class.fa-microphone-slash]="isAudioMuted">
		</i>
	</li>

	<li 
		class="icon" 
		title="Mute video"
		*ngIf="showVideoMute" 
		(click)="toggleVideoMute()" 
		[class.text-danger]="isVideoMuted">
		<i class="fa fa-video-camera"></i>
	</li>

	<li 
		class="icon"
		title="Show info"
		(click)="toggleInfo()" 
		[class.text-warning]="isInfoOn">
		<i class="fa fa-info-circle"></i>
	</li>

	<li 
		class="icon bg-danger"
		title="Leave webinar"
		(click)="stop()">
		<i class="fa fa-stop"></i>
	</li>
</ul>