<div class="jumbotron">
	<h1 class="display-4">{{ course.name }}</h1>
	<p class="lead">{{ course.description }}</p>
</div>

<div class="container mb-5">
	<div class="row">
		<div class="col-8">
		</div>
		<div class="col-4">
			<div class="card">
				<img class="card-img-top" [src]="course.image">
				<div class="card-body">
					<button class="btn btn-secondary btn-block">
						{{ 'courseDetailsCourseCardEnroll' | translate }}
					</button>

					<a 
						class="btn btn-outline-primary btn-block" 
						[routerLink]="['/courses', 'learn', course.slug]">
							{{ 'courseDetailsCourseCardGotoCourse' | translate }}
						</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<uikit-conversation-thread></uikit-conversation-thread>
</div>