<div class="jumbotron">
	<h1 class="display-4">{{ course.title }}</h1>
	<p class="lead">{{ course.description }}</p>
</div>

<div class="container mb-5">
	<div class="row">
		<div class="col-8">
			<div>
				<h5>{{ 'courseDetailsWhatWillILearn' | translate }}</h5>

				<ul>
					<li>Vestibulum at eros</li>
					<li>Cras justo odio</li>
				</ul>
			</div>

			<div class="mt-3">
				<h5>{{ 'courseDetailsRequirements' | translate }}</h5>

				<ul>
					<li>Vestibulum at eros</li>
					<li>Cras justo odio</li>
				</ul>
			</div>

			<div class="mt-3">
				<h5>{{ 'courseDetailsWhoIsTheTargetAudience' | translate }}</h5>

				<ul>
					<li>Vestibulum at eros</li>
					<li>Cras justo odio</li>
				</ul>
			</div>

			<div class="mt-3">
				<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				</p>
			</div>

			<div class="mt-5">
				<h4>{{ 'courseDetailsCurriculumForThisCourse' | translate }}</h4>

				<ul class="list-group">
					<li class="list-group-item">
						<i class="fa fa-play-circle"></i>
						Cras justo odio
					</li>
					<li class="list-group-item">
						<i class="fa fa-play-circle"></i>
						Dapibus ac facilisis in
					</li>
					<li class="list-group-item">
						<i class="fa fa-play-circle"></i>
						Morbi leo risus
					</li>
					<li class="list-group-item">
						<i class="fa fa-play-circle"></i>
						Porta ac consectetur ac
					</li>
					<li class="list-group-item">
						<i class="fa fa-play-circle"></i>
						Vestibulum at eros
					</li>
				</ul>
			</div>

			<div class="mt-5">
				<h4>{{ 'courseDetailsAboutTheInstructor' | translate }}</h4>
				<uikit-instructor-card></uikit-instructor-card>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<img class="card-img-top" [src]="course.picture">
				<div class="card-body">
					<button class="btn btn-secondary btn-block">
						{{ 'courseDetailsCourseCardEnroll' | translate }}
					</button>

					<a 
						class="btn btn-outline-primary btn-block" 
						[routerLink]="['/courses', 'learn', course.id, course.slug]">
							{{ 'courseDetailsCourseCardGotoCourse' | translate }}
						</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<uikit-conversation-thread></uikit-conversation-thread>
</div>