<form [formGroup]="editTitleForm" (ngSubmit)="onSubmitEditTitleForm()">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">
			{{ 'curriculumItemEditTitleFormTitle' | translate }}
		</label>
		<div class="col-sm-10">
			<input 
				type="text" class="form-control" 
				[placeholder]="''"
				[formControlName]="'title'">
		</div>
	</div>
	<div class="form-group row justify-content-end">
		<div class="col-sm-10">
			<button 
				type="submit" 
				class="btn btn-primary btn-sm"
				[disabled]="!editTitleForm.valid || isLoading">
					<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isLoading"></i>
					{{ 'Common_Save' | translate }}
			</button>

			<button 
				(click)="doCancel()"
				type="button"
				class="btn btn-secondary btn-sm">
					{{ 'Common_Cancel' | translate }}
			</button>

			<button 
				type="button" 
				class="btn btn-link btn-sm text-danger">
					<i class="fa fa-trash"></i>
			</button>
		</div>
	</div>
</form>