<div class="container mt-5 mb-5">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">
				{{ 'accountSettingsBasicsFormGivenName' | translate }}
			</label>
			<div class="col-sm-10">
				<input 
					type="email" 
					class="form-control" 
					[placeholder]="'accountSettingsBasicsFormGivenName' | translate"
					[formControlName]="'given_name'">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">
				{{ 'accountSettingsBasicsFormFamilyName' | translate }}
			</label>
			<div class="col-sm-10">
				<input 
					type="email" 
					class="form-control" 
					[placeholder]="'accountSettingsBasicsFormFamilyName' | translate"
					[formControlName]="'family_name'">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">
				{{ 'accountSettingsBasicsFormHeadline' | translate }}
			</label>
			<div class="col-sm-10">
				<input 
					type="email" 
					class="form-control" 
					[placeholder]="'accountSettingsBasicsFormHeadline' | translate"
					[formControlName]="'headline'">
				<span class="form-text text-muted">
					{{ 'accountSettingsBasicsFormHeadlineHelpText' | translate }}
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>
				{{ 'accountSettingsBasicsFormBio' | translate }}
			</label>
			<div>
				<textarea class="form-control" [formControlName]="'bio'"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary" [disabled]="!form.valid || isSaving">
					<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving"></i>
					{{ 'Common_Save' | translate }}
				</button>
			</div>
		</div>
	</form>
</div>