<div class="player">
	<a 
		[attr.aria-expanded]="isSidebarOpen"
		(click)="isSidebarOpen = !isSidebarOpen"
		href="javascript:void(0)" 
		class="player__btn-hide" >
			<i 
				class="fa"
				[class.fa-arrow-circle-o-left]="isSidebarOpen"
				[class.fa-arrow-circle-o-right]="!isSidebarOpen"></i>
	</a>
	<div class="player__aside collapse show" id="bd-main-nav">
		<div class="player__aside-holder">
			<img [src]="course.picture" class="img-fluid">
			<h6 class="mt-3 mb-3">{{ course.title }}</h6>
			<div class="list-group">
				<a 
					class="list-group-item" 
					*ngFor="let lesson of course.curriculum"
					routerLinkActive="active"
					[routerLink]="['/course-player', course.instructor_id, course.id, lesson.id]">
						{{ lesson.title }}
				</a>
			</div>
		</div>
	</div>
	<div class="player__content">
		<router-outlet></router-outlet>
	</div>
</div>

<div class="container mt-5">
	<uikit-conversation-thread></uikit-conversation-thread>
</div>