<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label>
			{{ 'courseGoalsAnyPrerequisites' | translate }}
		</label>
		<div>
			<textarea class="form-control" formControlName="prerequisites"></textarea>
			<small class="form-text text-muted">
				{{ 'courseGoalsAnyPrerequisitesHelpText' | translate }}
			</small>
		</div>
	</div>
	<div class="form-group">
		<label>
			{{ 'courseGoalsTargetStudent' | translate }}
		</label>
		<div>
			<textarea class="form-control" formControlName="targetStudent"></textarea>
			<small class="form-text text-muted">
				{{ 'courseGoalsTargetStudentHelpText' | translate }}
			</small>
		</div>
	</div>
	<div class="form-group">
		<label>
			{{ 'courseGoalsWhatWillTheyLearn' | translate }}
		</label>
		<div>
			<textarea class="form-control" formControlName="whatWillTheyLearn"></textarea>
			<small class="form-text text-muted">
				{{ 'courseGoalsWhatWillTheyLearnHelpText' | translate }}
			</small>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary" [disabled]="!this.form.valid">
			{{ 'Common_Save' | translate }}
		</button>
	</div>
</form>