<ul class="list-group mt-3">
	<li class="list-group-item">
		<a [routerLink]="['/course-player', 'course', 'qwe', 'lecture', 'qwe']">
			<i class="fa fa-play-circle"></i>
			Cras justo odio
		</a>
	</li>
	<li class="list-group-item">
		<a href="">
			<i class="fa fa-play-circle"></i>
			Dapibus ac facilisis in
		</a>
	</li>
	<li class="list-group-item">
		<a href="">
			<i class="fa fa-play-circle"></i>
			Morbi leo risus
		</a>
	</li>
	<li class="list-group-item">
		<a href="">
			<i class="fa fa-play-circle"></i>
			Porta ac consectetur ac
		</a>
	</li>
	<li class="list-group-item">
		<a href="">
			<i class="fa fa-play-circle"></i>
			Vestibulum at eros
		</a>
	</li>
</ul>